<form [formGroup]="form" (ngSubmit)="onSubmit()">
  <tui-input formControlName="email"
             tuiTextfieldExampleText="mail@mail.ru"
             tuiHintContent="Enter your email">
    Email
  </tui-input>
  <tui-field-error formControlName="email"></tui-field-error>
  <p>
    <tui-input formControlName="username"
               tuiTextfieldExampleText="Denis Makarov"
               tuiHintContent="Enter your username">
      Username
    </tui-input>
    <tui-field-error formControlName="username"></tui-field-error>
  </p>

  <tui-input-password formControlName="password">
    Password
  </tui-input-password>
  <tui-field-error formControlName="password"></tui-field-error>
  <p class="captcha-container">
    <ngx-recaptcha2 [siteKey]="captchaKey"
                    [useGlobalDomain]="false"
                    theme="dark"
                    formControlName="recaptcha">
    </ngx-recaptcha2>
  </p>
  <tui-loader
    [showLoader]="isLoading | async"
    [inheritColor]="true"
    [overlay]="true"
  >
    <button class="width-100" tuiButton type="submit">Sign up</button>
  </tui-loader>
</form>
