<form class="create-task" [formGroup]="form">
  <tui-select
    class="control tui-space_bottom-3"
    tuiTextfieldSize="m"
    [valueContent]="content"
    [tuiTextfieldLabelOutside]="true"
    formControlName="projectId">
    Project

    <tui-data-list-wrapper
      *tuiDataList
      [items]="projects | async"
      [itemContent]="content"
    ></tui-data-list-wrapper>
  </tui-select>

  <tui-select
    class="control tui-space_bottom-3"
    tuiTextfieldSize="m"
    [valueContent]="content"
    [tuiTextfieldLabelOutside]="true"
    formControlName="typeId">
    Task type

    <tui-data-list-wrapper
      *tuiDataList
      [items]="taskTypes | async"
      [itemContent]="content"
    ></tui-data-list-wrapper>
  </tui-select>

  <ng-template #content let-item>
    <div>
      {{ item.name }}
    </div>
  </ng-template>

  <hr class="tui-space_bottom-3">

  <tui-input
    class="tui-space_bottom-3"
    tuiTextfieldSize="m"
    formControlName="title"
    [tuiTextfieldLabelOutside]="true"
  >
    Title
  </tui-input>

  <tui-text-area
    class="description"
    formControlName="description">
    Description
  </tui-text-area>

</form>
