.create-task {
  display: flex;
  flex-direction: column;

  .description {
    min-height: 300px;
  }

  .performer {
    display: flex;

    tui-select {
      flex-grow: 1;
    }
  }

  .buttons {
    display: flex;
    justify-content: flex-end;
  }
}
