<main class="tui-container tui-container_adaptive tui-space_top-5">
  <div class="tui-row tui-row_adaptive">
    <div class="tui-col_xs-12 tui-col_s-10tui-col-offset_s-1 tui-col_sm-8 tui-col-offset_sm-2 tui-col_md-6 tui-col-offset_md-3 tui-col_lg-6 tui-col-offset_lg-3">
      <app-card>
        <app-card-title>
          <nav>
            <tui-tabs>
              <ng-container *ngFor="let link of links">
                <button [routerLink]="link.link" tuiTab>{{ link.label }}</button>
              </ng-container>
            </tui-tabs>
          </nav>
        </app-card-title>

        <app-card-content>
          <router-outlet></router-outlet>
        </app-card-content>
      </app-card>
    </div>
  </div>
</main>
